extends layout.jade

block content

    div(class="container")
        div(class="row")
            div(class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3")
                a(href="#organizations",role="button",class="btn btn-default btn-lg btn-block outline") I want to give money
            
        div(class="row")
            div(class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3")
                a(href="/createOrganization",role="button",class="btn btn-default btn-lg btn-block outline") I want to raise money


    div(class="container-fluid organization-container",id="organizations") 
        div(class="container")
            h2 Featured Charities
            div(class="row")
                div(class="col-md-7")
                    div(class="curved-border")
                        img(src="/images/charity1.jpg",alt="#obeyTheVADG",style="float:left; margin: 10px 15px 15px 10px; height: 100px; width: 100px;")
                        h3 World Wide Fund
                        p.black "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                div(style="col-md-5")
                    div(class="twitter-feed")
                        a(class="twitter-timeline",href="https://twitter.com/hashtag/GivingWithGiveHub",data-widget-id="587056023506026496") #GivingWithGiveHub Tweets
                        script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            div(class="row")
                div(class="col-md-7") 
                    div(class="curved-border")
                        img(src="/images/charity2.png",alt="#obeyTheVADG",style="float:left; margin: 10px 15px 15px 10px; height: 100px; width: 100px;")
                        h3 The Salvation Army
                        p.black "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            div(class="row")
                div(class="col-md-7") 
                    div(class="curved-border")
                        img(src="/images/charity3.jpg",alt="#obeyTheVADG",style="float:left; margin: 10px 15px 15px 10px; height: 100px; width: 100px;")
                        h3 Cancer United
                        p.black "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                h5 Organizations

    div(class="container-fluid organization-list")
        div(style="overflow: hidden")
            div(style="overflow: auto;height: 700px; width: 100%;")
                table.table.table-hover
                    thead
                        tr
                            th Name 
                            th Description
                            th Twitter Handle
                            th Email
                            th Phone #
                            th Website
                    tbody
                    each item in orgs
                        tr
                            td= item.name
                            td= item.description
                            td= item.handle
                            td= item.email
                            td= item.phone
                            td
                                a(href=item.website)
                                    = item.website



    
        
    